<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        internalLogLevel="Warn"
        internalLogFile="internal.txt">
	<extensions>
		<add assembly="Logtail" />
	</extensions>

	<targets>
		<!-- Dont forget to change SOURCE_TOKEN to your actual source token-->
		<target xsi:type="Logtail" name="logtail" layout="${message}" sourceToken="SOURCE_TOKEN" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logtail" />
	</rules>
</nlog>
